

:root {
  --background: #E3EAEF;
  --components: #17192D;
  --green: #52C41A;
  --red: #ED3833;
  --blue: #2188FF;
  --blue-dark:#023b78;
  --light-blue:#f2f8ff;
  --white: #FFFFFF;
  --disabled: #E2E2E2;
  --text-disabled:#88929c;
  --divider: #f1f4fc;
;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--background);
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--divider);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--components);
  border-radius: 8px;
}
input,button {
  border: none;           
  outline: none;           
  box-shadow: none;        
  background: transparent; 
  -webkit-appearance: none; 
  -moz-appearance: none;    
  appearance: none;         
}
.button:hover{
  filter: brightness(0.7);
}

@media screen and (max-width: 800px) {
  body{
    font-size: 12px;
  }
  .divider {
    margin-top: 8px !important;
  }
  #main-header,#tree-filters{
    flex-direction: column;
    gap: 8px;
  }
  #tree-asset-section{
    width: 100% !important;
  }
  #tree-sections {
    display: flex;
    flex-direction: column-reverse;
  }
  #tree-view {
    overflow-y: auto;
    height: calc(100vh - 782px) !important;
  }
  #tree-display-image-container{
    flex-direction: column;
    padding: 8px !important;
    justify-content: center !important;
    align-items: center !important;
  }
  #tree-display-image-upside{
    padding: 12px !important;
    flex-direction: row !important;
  }
  #display-footer{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
  }

  #display-item-footer{
    margin: 0px !important
  }

}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid var(--components);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader-companies {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid var(--white);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}